:root {
    --main-blue: #1F2937;
    --secondary-blue: #7791FF;
    --main-black: #1F2937;
    --main-white: #F9FAF8;
    --main-grey: #E5E7EB;
}

@media only screen and (min-width: 768px){
    /* tablets and desktop */
}

@media only screen and (max-width: 767px){
    /* phones */
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

button {
    font-size: 18px;
}

/* Banner & footer styling: */
.banner-container,
footer {
    background: var(--main-blue);
    color: var(--main-white);
    padding: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 40px;
}

li a,
.banner-secondary-text {
    color: var(--secondary-white);
    font-size: 18px;
}

.banner-content-container1 {
    display: flex;
    justify-content: center;
}

.banner-content-container2 {
    width: 900px;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 464px;
    flex: 1;
}

h1 {
    font-size: 42px;
    margin-bottom: 0;
}

.button.sign-up1 {
    padding: 8px 24px;
    margin-right: auto;
    color: var(--main-white);
    background-color: var(--secondary-blue);
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

.banner-img {
    width: 464px;
    flex: 1;
}

.footer-ul-container {
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: 14px;
    text-align: center;
}

.copyright-container {
    display: flex;
    justify-content: center;
    gap: 4px;
}

/* Main content */
.section-container {
    padding: 40px 0;
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 32px;
}

.item-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

h3.info {
   color: var(--main-blue);
}

.grid-container {
    display: flex;
    justify-content: center;
}

.grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.grid-item {
    width: 364px;
    height: auto;
}

/* Quote */
.quote-container1 {
    background-color: var(--main-grey);
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.quote-container2 {
    width: 600px;
}

.quote {
    text-align: center;
    font-size: 24px;
}

.quote-author {
    text-align: right;
    font-size: 18px;
}

/* CTA section */
.cta-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.cta-container2 {
    width: 900px;
}

.cta-container3 {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secondary-blue);
    padding: 24px 32px;
    gap: 20px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: var(--main-white);
}

p.cta {
    margin: 4px 0 0 0;
}

.button.sign-up2 {
    padding: 8px 24px;
    color: var(--main-white);
    background-color: var(--secondary-blue);
    border: 1px solid var(--main-white);
    border-radius: 4px;
    font-weight: 600;
}
